{% extends 'base.html' %}

{% block head %}
    <title>Mangaudible</title>
{% endblock %}

{% block body %}

<main>

    <h1 class="text-start text-white" id="Category">Category: Comedy</h1>
    <div class="container main-container">
  
        {%for title in data%}
            <div class="container item-container">
            <div class="container1 rounded">
              <a href="/manga/{{title.1}}">
                <img src="{{title.9}}" class="img-container"alt="">
              </a>
                <div class = "container2">
                <p>Name: {{title.1}}</p>
                <p>Description: <br><br>{{title.6}} </p>
                </div>
            </div>
            </div>
        {% endfor%}
  
         
    </div>
  </main>
  
  
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law. © 2021 Mangaudible.</span>
    </div>
  </footer>
{% endblock %}
