{% extends 'base.html' %}

{% block head %}
    <title>Mangaudible</title>
{% endblock %}

{% block body %}
<main>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/arifureta_shokugyou_de_sekai_s.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/grand_blue.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/world_customize_creator.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/isekai_tensei_soudouki.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row ">
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/late_bloomer.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/kateikyoushi_no_lelouch-san.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/koroshi_ai.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/overlord.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row ">
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/tate_no_yuusha_no_nariagari.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/tensei_shitara_slime_datta_ken.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/tensei_takenaka_hanbei.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
              <div class="col">
                <img src="https://storage.googleapis.com/mangaudible/temp/imadoki_no_wakai_mon_wa.jpg"  class="manga-cover" alt="">
                <p>Title<span>Chapter 360</span></p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    
    
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law. © 2021 Mangaudible.</span>
      </div>
    </footer>
{% endblock %}
